:root {
  --font-primary: 'Red Hat Display', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
}

.wrapper {
  overflow-x: hidden;
  background-color: hsl(0, 0%, 98%);
}

.hero-image-full {
  position: relative;
  left: -20px;
  max-width: calc(100% + 40px);
}

.hero-image-left,
.hero-image-right {
  display: none;
}

header {
  text-align: center;
  padding: 48px 24px 0 24px;
  margin-bottom: 54px;
}

header a {
  display: inline-block;
  width: 7.4375rem;
  height: 1.75rem;
}

main {
  text-align: center;
  margin-top: 48px;
  padding: 0 24px 0 24px;
}

.hero-text h1 {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0 20px;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: hsl(240, 20.8%, 19.8%);
}

.hero-text p {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240, 10.1%, 57.3%);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  border-radius: 29px;
  margin: 0 auto;
}

a.download-btn {
  width: 12.0625rem;
  height: 3.625rem;
  margin-bottom: 16px;
  color: hsl(0, 0%, 100%);
  background: hsl(192.4, 37.4%, 48.2%);
}

a.download-btn span {
  color: hsl(192.5, 89.8%, 76.9%);
}

a.info-btn {
  width: 8.6875rem;
  height: 3.625rem;
  color: hsl(0, 0%, 100%);
  background: hsl(267.8, 34.5%, 53.3%);
  border-radius: 29px;
}

.divider {
  width: 3.5rem;
  height: 8.75rem;
  margin: 64px auto;
}

.line {
  width: 0.0625rem;
  height: 5.25rem;
  margin: 0 auto;
  background-color: hsla(240, 10.1%, 57.3%, 0.25);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid hsla(240, 10.1%, 57.3%, 0.25);
}

.circle p {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240, 10.1%, 57.3%);
}

.pictures {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  justify-content: center;
  column-gap: 25px;
  row-gap: 24px;
  margin-bottom: 64px;
}

.pictures img {
  width: 151px;
  height: 143px;
  border-radius: 8px;
}

.modern-use .cyan-text {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: hsl(192.4, 37.4%, 48.2%);
}

.modern-use h2 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 24px;
  margin-bottom: 32px;
  color: hsl(240, 20.8%, 19.8%);
}

.modern-use p:last-child {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 32px;
  color: hsl(240, 10.1%, 57.3%);
}

.divider:last-of-type {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

.divider:last-of-type .circle {
  background-color: hsl(0, 0%, 98%);
}

footer {
  position: relative;
  display: flex;
  top: -28px;
  margin-bottom: -28px;
}

footer img {
  max-width: 100%;
  height: 428px;
  object-fit: cover;
  opacity: 0.25;
}

footer img.footer-image-desktop {
  display: none;
}

.overlay {
  background: hsl(192.1, 37.2%, 53.1%);
  mix-blend-mode: multiply;
}

.overlay,
.footer-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-text {
  text-align: center;
  padding: 92px 24px 72px 24px;
  color: hsl(0, 0%, 98%);
}

.footer-text h2 {
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 2.25rem;
}

.footer-text p {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.footer-text a.download-btn {
  background-color: hsl(267.8, 34.5%, 53.3%);
}

.footer-text a.download-btn span {
  color: hsl(267.9, 100%, 86.1%);
}

@media (min-width: 48em) {
  .wrapper {
    max-width: 48rem;
    margin: 0 auto;
  }

  .hero-text,
  .hero-btns {
    margin: 72px auto 0 auto;
    max-width: 28.5625rem;
  }

  .hero-text h1 {
    padding: 0 55px;
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .hero-btns>a {
    margin: 0;
  }

  a.info-btn {
    margin-left: 16px;
  }

  .divider {
    margin-top: 80px;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    column-gap: 11px;
    margin-bottom: 32px;
  }

  .pictures img {
    width: 164px;
    height: 156px;
  }

  .modern-use {
    width: 573px;
    margin: 0 auto;
  }

  .modern-use h2 {
    width: 27.8125rem;
    margin: 24px auto 32px auto;
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .footer-text {
    padding: 92px 98px 0 98px;
  }

  .footer-text h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 32px;
    padding: 0 98px;
  }

  .footer-text p {
    margin-bottom: 40px;
  }

}

@media (min-width: 90em) {
  .wrapper {
    max-width: 90rem;
  }

  header {
    padding-top: 80px;
  }

  .desktop-hero {
    display: flex;
    justify-content: space-between;
  }

  .hero-image-full {
    display: none;
  }

  .hero-image-left,
  .hero-image-right {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 305px;
  }

  .hero-image-left {
    left: -55px;
  }

  .hero-image-right {
    top: 54px;
    right: -55px;
  }

  .hero-text {
    margin: 0;
    margin-top: 54px;
    max-width: 32.8125rem;
  }

  .hero-text h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 34px;
  }

  .hero-text p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .divider {
    margin-top: 110px;
  }

  .divider:last-of-type {
    margin-top: 72px;
  }

  .pictures {
    column-gap: 30px;
    margin-bottom: 80px;
  }

  .pictures img {
    height: 242px;
    width: 255px;
  }

  .modern-use h2 {
    margin-top: 16px;
  }

  .modern-use p:last-child {
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 0 30px;
  }

  footer img.footer-image-tablet {
    display: none;
  }

  footer img.footer-image-desktop {
    display: inline-block;
    height: 308px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 165px;
  }

  footer .footer-text>* {
    padding: 0;
    margin: 0;
  }

  .footer-text h2,
  .footer-text p {
    flex-basis: 21.875rem;
  }

}

@media (hover: hover) {
  a.download-btn:hover {
    background: hsl(192.1, 53.5%, 63.7%);
  }

  a.info-btn:hover {
    background: hsl(267.8, 54.7%, 70.6%);
  }

  .footer-text a.download-btn:hover {
    background-color: hsl(267.8, 54.7%, 70.6%);
  }
}